<h2>
Mario De Florio
<font size="2">
<p><br></p>
<p><span style="color: rgb(209, 213, 216);">Department of Systems and Industrial Engineering, The University of Arizona</span></p>
</font>
</h2>

<font size="3">
Graduated with MSc in Energy and Nuclear Engineering with a strong interest in energy and sustainability. During my studies, I have developed a great passion for the nuclear sector for energy production, research, and radioprotection.
  
Currently, I am a Ph.D. candidate in Systems & Industrial Engineering at The University of Arizona in Tucson, AZ, with the main research interest in the development of Physics-Informed Machine Learning frameworks and their application to several fields, such as Radiative Transfer, Rarefied-gas Dynamics, Nuclear Reactor Dynamics, Chemical Kinetics, Epidemiology, Pharmacokinetics, and Biology systems. 
Also, my research focuses on Remote Sensing for Asteroids and Meteorites parameters estimation.
  
<i class="fas fa-download  pr-1 fa-fw"></i> Download my <a href="https://github.com/mariodeflorio/mariodeflorio.github.io/raw/master/_files/CV_DeFlorio.pdf">CV</a>.
</font>