---
layout: home
permalink: /
hidden: false
feature_row:
  - image_path: /assets/images/research.jpg
    alt: "research"
    title: "Research and Projects"
    excerpt: "My research and projects within the fields of Machine Learning and Remote Sensing."
    url: "/research/"
    btn_class: "btn--primary"
    btn_label: "Learn more"
  - image_path: /assets/images/publications.jpg
    alt: "publications"
    title: "Publications"
    excerpt: "Feel free to explore my journal papers, preprints, and conference proceedings."
    url: "/publications/"
    btn_class: "btn--primary"
    btn_label: "Learn more"
---

{% include feature_row %}

{{ content }}

{% include feature_row %}

<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h3>

{% if paginator %}
  {% assign posts = paginator.posts %}
{% else %}
  {% assign posts = site.posts %}
{% endif %}

{% assign entries_layout = page.entries_layout | default: 'list' %}
<div class="entries-{{ entries_layout }}">
  {% for post in posts %}
    {% include archive-single.html type=entries_layout %}
  {% endfor %}
</div>

{% include paginator.html %}
